/Assignment04_Design_1.aux
/Assignment04_Design_1.log
/Assignment04_Design_1.out
/Assignment04_Design_1.synctex.gz
/Goofy_Lights_Editor_Master_Doc.log
/Goofy_Lights_Editor_Master_Doc.aux
/Goofy_Lights_Editor_Master_Doc.synctex.gz
/Goofy_Lights_Editor_Master_Doc.toc
